body, html {
    height: 100%;
    margin: 0;
}


body {
    overflow-x: hidden;
}


.secondary-nav {
    background-color: #f8f9fa;
    border-bottom: 2px solid #000000; 
    position: sticky;
    top: 0;
}

.secondary-nav .nav {
    display: flex;
    justify-content: center;
}

.secondary-nav .nav-link {
    color: #007bff; 
    font-weight: bold;
    font-size: large;
    transition: color 0.3s ease;
}

.secondary-nav .nav-link:hover {
    color: #f4b400;
    text-decoration: none; 
}


.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./Project/Kuvat/baggg.webp");
    background-position: center;
    color: #000;
    text-align: center;
    height: 35vh;
}

.hero-banner h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-banner p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.highlight {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #000;
}

.highlight h2 {
    color: #000;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #beab3e;
}

.highlight-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.player-picture {
    flex: 1 1 45%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-picture img {
    width: 100%;
    max-width: 300px;
    border-radius: 40%;
    border: 3px solid #beab3e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.section-title {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #beab3e;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}



.video-container video {
    width: 100%;
    border: 2px solid #f4b400;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.video {
    background-color: #222;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f4b400;
    border-radius: 10px;
    overflow: hidden;
}

.video:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.video-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
