

body {
    overflow-x: hidden;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
.bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: center 20%;
}

.bg h1 {
    font-size: 2.5em; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7); 
}



.vuongkuva {
    float: left;
    max-width: 20%;
    border-radius: 50%;
    border: 3px solid #000000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

video{
    margin: 25px;
    width: 60%;
    align-items: center;
}

.pbox {
    display: block;
    clear: both;
}

.media-row {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 2px;              
}

.box {
    display: flex; 
    justify-content: center;
}
table{
    
    width: 75%;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.404); 
    padding: 5px;
}

tr:hover {
    background-color: beige;
}

a.clickable-name:hover {
    color: #FF6F61;
    transition: all 0.3s ease-in-out;
  }

h1{
    margin-left: 20px;
    text-align: center;
}

.v1{
    font-family: fantasy;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}

