html, body {
    margin: 0;
    height: 100%;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/Project/Kuvat/bbbbb.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
}