html, body {
    margin: 0; /* Remove default margin */
    height: 100%; /* Ensure full height for body */
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-image: url("/Project/Kuvat/bbbbb.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Make sure it covers the whole area */
    height: 100vh; /* Set height to full viewport height */
    color: rgb(0, 0, 0);
    text-align: center;
}