body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  

header,
footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}

.wrapper {
display: flex;
}

h1 {
    font-size: medium;
    text-align: right;
}