 section {
    display: -webkit-flex;
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #ffffff;
    padding: 10px;
  }
  
  
  #sektio {
    width: 100%;
    height: 250px;
    padding: 0%;
  }

  #nav2 {
    float: left;
    width: 10%;
    background: #cccccc;
    border-right: 1px solid rgb(173, 173, 173);
    padding: 5px;
  }

  ul {
    list-style-type: none;
    padding: 5px;
  }