body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  

header,
footer {
    padding: 1em;
    color: white;
    background-color: rgb(0, 0, 0);
    clear: left;
    text-align: center;
    
}

.wrapper {
    display: flex;
  }
  
  .wrapper > div {
    flex: 1;
    text-align: center;
  }

h1 {
    font-size: medium;
    text-align: center;
}
.toinen {
    text-align: center;
}

a:link {
    color: #0400ff;
  }
  a:visited {
    color: #1100ff;
  }
  a:focus {
    color: #ffffff;
  }
  a:hover {
    color: #ff0000;
  }
  a:active {
    color: #ff0000;
  }

  nav {
    max-width: 100%;
    background-color: #020202ce;
    margin: 0;
    padding: 1em;
  }